@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&display=swap');
body{
    background-image: url("./imagen-actividad.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: fixed;
}

h3, h4{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: deepskyblue;
}

form{
    margin-inline: 10px;
}
input[type=text]{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   background-color: black; 
   color: white;
}
input[type=number]{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: black; 
    color: white;
}

input[type=tel]{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: black; 
    color: white;
}

input[type=email]{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: black; 
    color: white;
}

input[type=password]{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: black; 
    color: white;
}

input:hover[type=submit]{
    color: white;
}

table, th, td{
    border: 1px solid black;
}
table{
    margin-left: 20%;
    border-collapse:collapse;
    padding: 10;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: white;
}
a{
    color: burlywood;
    border-radius: 30px;
    border: 1px black;
    font-weight: 30px;
    background-color: black;
    margin: 15px;
    padding: 10px;
}
.tituloprincipal{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: aqua;
}
#titulosecundario{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: deepskyblue;
}